@import url(reset.css);

:root {
  /* PRIMARY */
  --soft-orange: hsl(35, 77%, 62%);
  --soft-red: hsl(5, 85%, 63%);
  /* NEUTRAL */
  --off-white: hsl(36, 100%, 99%);
  --gray-blue: hsl(233, 8%, 79%);
  --dark-gray-blue: hsl(236, 13%, 42%);
  --very-dark-blue: hsl(240, 100%, 5%);

  --xx-large-font: clamp(2.7em, 2vw, 5em); /*h1*/
  --x-large-font: clamp(2em, 1.5vw, 4em); /*h2*/
  --large-font: clamp(1.35em, 1vw, 3.5em); /*h3*/
  --medium-font: clamp(1.2em, 1vw, 3em); /*h4*/
  --regular-font: clamp(1em, 1vw, 2.5em); /*p*/

  --gap: 1em;
  --mid-gap: 1.9em;
  --large-gap: 4.2em;
}

@font-face {
  font-family: "Inter";
  src: url(../assets/fonts/static/Inter-Regular.ttf);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url(../assets/fonts/static/Inter-Bold.ttf);
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url(../assets/fonts/static/Inter-ExtraBold.ttf);
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  padding-inline: 1rem;
  background-color: var(--off-white);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 1.8rem;
}
.logo {
  width: 14%;
  height: auto;
}
.nav-links {
  display: none;
}

main {
  display: grid;
  gap: var(--large-gap);
}

.hero-section {
  display: grid;
  gap: 1.1em;
}
.image-container {
  height: fit-content;
}
.hero-image {
  object-fit: cover;
}
.hero-heading {
  padding-top: 0.6em;
}
.hero-heading h1 {
  color: var(--very-dark-blue);
  font-size: var(--xx-large-font);
  font-weight: 800;
  line-height: 1;
}
.hero-text {
  display: grid;
  justify-items: start;
  gap: var(--gap);
}
.hero-text p {
  color: var(--very-dark-blue);
  font-size: var(--regular-font);
  font-weight: 400;
  line-height: 1.7;
}
.hero-button {
  background: var(--soft-red);
  color: var(--off-white);
  font-weight: 700;
  letter-spacing: 0.28em;
  border: none;
  text-transform: uppercase;
  padding: 1em 2em;
  margin-top: 0.5em;
}

.aside-section {
  background: var(--very-dark-blue);
  padding: 1.5em;
}
.aside-section h2 {
  color: var(--soft-orange);
  font-size: var(--x-large-font);
  margin-bottom: 1.1em;
}
.article-container {
  display: grid;
  gap: var(--mid-gap);
}
.aside-article h3 {
  padding-bottom: 0.5em;
  color: var(--off-white);
  font-size: var(--large-font);
}
.aside-article p {
  color: var(--gray-blue);
  font-size: var(--regular-font);
  line-height: 1.7;
}

.news-section {
  display: grid;
  gap: var(--mid-gap);
}
.news-section article {
    display: flex;
    gap: var(--mid-gap);
}
.news-image {flex: 1;}
.news-text {flex: 2;}
.news-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.news-text .news-index {
  font-weight: 800;
  font-size: var(--x-large-font);
  color: var(--gray-blue);
}
.news-text h4 {
  font-size: var(--medium-font);
  font-weight: 800;
  color: var(--very-dark-blue);
}
.news-text p {
  font-size: var(--regular-font);
  color: var(--dark-gray-blue);
}